body {
  margin: 0;
}

:root {
  --blue: #03202c;
  --darkBlue: #03202c;
  --white: #f7f0ea;
}

.flex-container img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  padding: 30px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  margin: 20px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card-front {
  display: flex;
  background-color: var(--darkBlue);
  color: var(--white);
  padding: 10px 20px 0px;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  flex-direction: column;
}

.flip-card-back {
  background-color: #f5b914;
  color: rgb(245, 221, 144);
  transform: rotateY(180deg);
}

.head {
  text-align: center;
  color: var(--blue);
  font-size: 5vw;
  border: 7px solid var(--blue);
  margin: 90px 30vw 40px 30vw;
  border-bottom: 0;
  border-right: 0;
}

#searchbar {
  font-size: larger;
  font-weight: 100;
  padding: 10px 30px;
  border-radius: 20px;
}

.search-img {
  padding-top: 20px;
  margin-top: 10px;
}
