.content {
  padding: 34px;
}

table {
  border-collapse: collapse;
  width: 50%;
}
.table {
  padding: 34px;
}

th,
td {
  padding: 30px;
  text-align: left;
  border: 1px solid #03202c;
}

.table-button {
  padding: 10px 40px;
  font-size: large;
  border: 2px solid white;
  color: var(--white);
  border-radius: 20px;
  background-color: var(--blue);
}
