* {
  box-sizing: border-box;
}

body {
  margin-top: 7px;
}
:root {
  --blue: #03202c;
  --darkBlue: #036089;
  --white: #f8f6f4;
}

body,
p,
h1,
div {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

/* Progress */
progress {
  position: fixed;
  top: 0;
  height: 7px;
  color: aqua;
  left: 0;
  width: 100%;
  margin: 0;
  border-radius: 0%;
  z-index: 20;
}
progress::-moz-progress-bar {
  background: var(--darkBlue);
}
progress::-webkit-progress-value {
  background: var(--darkBlue);
}
progress {
  color: var(--darkBlue);
}

/* Navbar */

nav ul {
  font-size: 20px;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0 20px;
  overflow: hidden;
  background-color: var(--blue);
}
nav img {
  border: 2px solid white;
  border-radius: 50%;
  height: 34px;
  margin: 10px 10px 0 0;
}
nav li {
  float: left;
}
nav li.right {
  float: left;
}
nav a {
  display: block;
  color: var(--white);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
nav a:hover {
  color: var(--white);
  background-color: var(--darkBlue);
}

/* Hero-Banner */
.hero-banner {
  background-image: url("campus.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  max-width: 100vw;
  word-spacing: 3px;
}
.hero-banner-heading,
.hero-banner-text {
  font-family: "Anton", sans-serif;
  text-align: center;
  font-weight: 1200;
  color: white;
}
.hero-banner-heading {
  font-size: 4vw;
}
.hero-banner-text {
  font-size: 2.5vw;
}
/* Footer */
.footer {
  color: var(--white);
  background-color: var(--blue);
  padding: 20px;
  font-size: 20px;
  word-spacing: 2px;
  letter-spacing: 1.8px;
}

footer svg {
  margin-top: 20px;
  margin-bottom: -10px;
}

svg {
  fill: var(--white);
}

hr {
  color: var(--darkBlue);
  background-color: var(--blue);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  /* align-items: center; */
  align-content: space-between;
  padding: 0 30px 30px;
}

.flex-box {
  margin: 30px;
  padding: 0 20px;
}

.dark {
  background-color: black;
  color: var(--white);
}

@media only screen and (max-width: 700px) {
  .nav-res {
    display: none;
  }
  .hero-banner-heading {
    font-size: 50px;
  }
  .hero-banner-text {
    font-size: 30px;
  }
  progress {
    position: fixed;
    top:auto;
    bottom: 0px;
    height: 7px;
    left: 0;
  }
}
